@font-face {
    font-family: "PT Sans - Narrow Bold";
    font-style: normal;
    font-weight: 400;

    src: local("PT Sans - Narrow Bold"),
        url("/fonts/web/ptsansnarrowbold.woff2"),
        url("/fonts/web/ptsansnarrowbold.woff")
}

body {
    margin: 0;
    padding: 0;

    color: white;
    font-family: "PT Sans - Narrow Bold", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;

    background-color: black;
    background-image: url("img/png/pic1.png");
    background-repeat: no-repeat;
    background-position: top center;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.hidden {
    display: none;
}

.main-navigation {
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;

    background-color: black;
}

.site-navigation a,
.user-navigation a {
    color: white;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.features-item {
    color: #f7f4f1;
}

.features-item h3 {
    font-size: 30px;
    line-height: 42px;
    text-align: center;
}

.index-columns-1 {
    color: black;

    background-color: #f8f5f2;
    background-image: url("img/png/pic2.png");
    background-repeat: repeat;
    background-position: top center;
}

.index-columns-1 h3 {
    font-size: 30px;
    line-height: 42px;
}

.news {
    margin-left: 81px;
}
.news h2 {
    margin-top: 55px;
}

.news-list {
    margin: 0;
    padding: 0;
}

.news-item time{
    text-transform: none;
}

.gallery {
    margin-left: 92px;
}

.gallery-content {
    border: 7px solid white;
    margin: 0;
    margin-right: 100px;
    padding: 0;
}

.index-columns-2 {
    color: black;

    background-color: #f8f5f2;
    background-image: url("img/png/pic2.png");
    background-repeat: repeat;
    background-position: top center;
}

.index-columns-2 h3 {
    font-size: 30px;
    line-height: 42px;
}

.button {
    width: 140px;
    height: 43px;

    color: white;
    font: inherit;
    line-height: 24px;
    text-align: center;
    vertical-align: center;
    text-transform: uppercase;

    background-color: black;
}