@font-face {
    font-family: "PT Sans - Narrow Bold";
    font-style: normal;
    font-weight: 400;

    src: local("PT Sans - Narrow Bold"),
        url("fonts/web/ptsansnarrowbold.woff2") format("woff2"),
        url("fonts/web/ptsansnarrowbold.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

    color: white;
    font-family: "PT Sans - Narrow Bold", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;

    background-color: black;
    background-image: url("img/png/pic1.png");
    background-repeat: no-repeat;
    background-position: top center;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

.button {
    display: inline-block;
    width: 140px;
    height: 44px;

    color: white;
    font: inherit;
    line-height: 44px;
    text-align: center;
    vertical-align: bottom;
    text-transform: uppercase;

    background-color: black;
    border: none;
}

.button:hover,
.button:focus
 {
    background-color: #663d15;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 287px;
    flex-shrink: 0;

    color: #ffffff;
    font-size: 16px;
    line-height: 20px;

    background-color: transparent;
}

.main-navigation-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 72px;
    align-items: center;
    flex-shrink: 0;

    background-color: black;
}

.main-navigation-wrap-container {
    display: flex;
    flex-direction: row;
    width: 938px;
    min-height: 72px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    background-color: transparent;
}

.main-header-logo {
    order: 2;
    margin-left: auto;
    margin-right: auto;
    width: 371px;
    height: 155px;
    margin-top: 60px;

}

.site-navigation {
    display: flex;
    flex-direction: row;
    min-height: 72px;
    align-items: center;
    margin-right: auto;
    flex-shrink: 0;
}

.user-navigation {
    display: flex;
    flex-direction: row;
    min-height: 72px;
    width: 107 px;
    align-items: center;
    flex-shrink: 0;
}

.site-navigation a,
.user-navigation a {
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 20px;
    padding-right: 20px;

    color: white;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.user-navigation a {
    padding-left: 53px;
}

.login-link {
    position: relative;
}

.login-link::before {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 69px;
    top: 32px;

    width: 14px;
    height: 14px;

    content: url("img/svg/login.svg");
}

.features-list {
    display: flex;
    flex-direction: row;
    width: 855px;
    align-items: center;
    justify-content: space-between;
    margin-top: 79px;
    margin-bottom: 85px;
    margin-left: auto;
    margin-right: auto;
}

.features-item {
    max-width: 285px;
    min-height: 160px;

    color: #f7f4f1;
}

.features-item h3 {
    font-size: 30px;
    line-height: 42px;
    text-align: center;

    margin-bottom: 73px;
}

.features-item p {
    height: 60px;

    text-align: center;
}

.index-columns-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    height: 419px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;

    color: black;

    background-color: #f8f5f2;
    background-image: url("img/png/pic4.png"), url("img/png/pic2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}

.index-columns-1 h3 {
    font-size: 30px;
    line-height: 42px;
}

.news {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 419px;
    margin-left: 81px;
}

.news h2 {
    margin-top: 55px;
}

.news-item {
    margin-top: 33px;
}

.news-item time {
    text-transform: none;
}

.news .button {
    margin-top: auto;
    margin-bottom: 50px;
}

.gallery {
    display: flex;
    flex-direction: column;

    height: 419px;
    margin-right: 80px;
}

.gallery h2 {
    margin-top: 55px;
    margin-bottom: 33px;
}


.gallery-content {
    width: 286px;
    height: 164px;

    border: 7px solid white;
    margin: 0;
    padding: 0;
}

.gallery-buttons {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 50px;
}

.gallery button {

}

.index-columns-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    height: 435px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 65px;

    color: black;

    background-color: #f8f5f2;
    background-image: url("img/png/pic4.png"), url("img/png/pic5.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}

.index-columns-2 h3 {
    font-size: 30px;
    line-height: 42px;
}

.contacts {
    display: flex;
    flex-direction: column;
    width: 324px;
    height: 435px;
    margin-left: 81px;
}

.contacts h2 {
    margin-top: 55px;
}

.contacts p {
    margin-top: 30px;
}

.contacts-buttons {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 100px;
}

.appointment {
    display: flex;
    flex-direction: column;
    width: 324px;
    height: 435px;
    margin-right: 80px;
}

.appointment h2 {
    margin-top: 55px;
}

.appointment-preview {
    width: 291px;
    margin-top: 30px;
}

.appointment-wrap-1 {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
    margin-top: 24px;
}

.appointment-wrap-2 {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
    margin-top: 16px;
}

.appointment-item {
    display: flex;
    flex-direction: column;
    height: 67px;
}

.appointment-wrap-1 input,
 .appointment-wrap-2 input {
    width: 140px;
    height: 43px;
}

.appointment .button {
    width: 300px;
    margin-top: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    width: 100%;
    height: 193px;
    margin-right: auto;
    margin-left: auto;
}

.footer-container {
    width: 2560px;
    height: 193px;
    margin-right: auto;
    margin-left: auto;

    background-color: #212121;
    background-image: url("img/png/pic6.png");
    background-repeat: no-repeat;
    background-position: top center;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 940px;
    height: 88px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 62px;
    margin-bottom: auto;
}

.footer-contacts {
    width: 307px;
    margin-right: 93px;
}

.footer-contacts a {
    color: white;
    text-decoration: underline;
}

.footer-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 141px;
    height: 78px;
    margin-right: 259px;
}

.footer-social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 141px;
    height: 43px;
}

.social-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 43px;
    height: 43px;

    background-color: black;
}

.social-button:hover,
.social-button:focus
 {
    background-color: #663d15;
}

.footer-developed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 140px;
    height: 78px;
}

.footer-developed a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 140px;
    height: 43px;

    color: white;

    background-color: black;
}

.footer-developed a:hover,
.footer-developed a:focus
 {
    color: black;
    background-color: white;
}